<template>
    <button type="button" class="btn btn-danger btn-sm mx-1" @click="deleteForm(index)">
        <i class="mdi mdi-delete ml-1"></i>
        حذف
    </button>
</template>

<script>
export default {
    props : ['list', 'index', 'url'],
    methods : {
        deleteForm : function (index) {
            var list = this.list;
            var url = this.url;
            swal({
                title: 'آیا مطمئن هستید؟',
                type: 'warning',
                showCancelButton: true,
                confirmButtonClass: 'btn btn-danger',
                cancelButtonClass: 'btn btn-secondary',
                confirmButtonText: 'بله',
                cancelButtonText: 'انصراف',
            }).then(function (result) {
                if (result.value) {
                    list.splice(index, 1);
                    console.log(url);
                    axios.delete(url).then( res => {
                        if (res.data.success) {
                            swalSuccess('آیتم مورد نظر حذف شد.');
                        }
                    });
                }
            });
        }
    }
}
</script>

<style scoped>
</style>
