<template>
    <div>
        <router-view></router-view>
    </div>
</template>

<script>
    import VueRouter from 'vue-router';

    import Home from './Home.vue';
    import FormManager from './forms/FormManager.vue';
    import FormList from './forms/FormList.vue';
    import FormFill from './forms/FormFill.vue';
    import FormResult from './forms/FormResult.vue';

    export default {
        router : new VueRouter ({
            routes : [
                {
                    path : '/home',
                    name : 'home',
                    component : Home
                },
                {
                    path : '/form-manager/:fid?',
                    name : 'form-manager',
                    component : FormManager
                },
                {
                    path : '/form-list',
                    name : 'form-list',
                    component : FormList
                },
                {
                    path : '/form/fill/:uid',
                    name : 'form-fill',
                    component : FormFill
                },
                {
                    path : '/form/result/:fid',
                    name : 'form-result',
                    component : FormResult
                },
                {
                    path : '/',
                    redirect : {name : 'home'}
                }
            ]
        })
    }
</script>
