<template>
    <div>
        <div class="page-head">
            <h4 class="mt-2 mb-2"> داشبورد اصلی </h4>
        </div>

        <div v-if="user.type == 'USER'" class="row">
            <div class="col-md-3 my-2" v-for="form in forms">
                <div class="card text-center">
                    <div class="card-header">
                        {{form.name}}
                    </div>
                    <div class="card-body">
                        <a :href="`#/form/fill/${form.uid}`" class="btn btn-info btn-sm"> پرکردن فرم </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

    export default {
        data() {
            return {
                user : {},
                forms : []
            }
        },
        mounted : function () {
            axios.get('/api/user/current').then(res => {
                this.user = res.data;
            });
            axios.get('/api/form/list').then(res => {
                this.forms = res.data;
            });
        }
    }

</script>
