<template>
    <div>
        <div class="page-head">
            <h4 class="mt-2 mb-2"> لیست فرم های طراحی شده </h4>
        </div>
        <div class="card">
            <div class="card-body">
                <table class="table table-responsive-lg table-bordered">
                    <thead>
                        <tr>
                            <th> # </th>
                            <th> نام فرم </th>
                            <th> فعال </th>
                            <th> عملیات </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="form, index in forms">
                            <th> {{index+1}} </th>
                            <td> {{form.name}} </td>
                            <td v-html="boolIcon(form.active)"></td>
                            <td>
                                <a :href="`#/form/result/${form.id}`" class="btn btn-info btn-sm mx-1">
                                    <i class="mdi mdi-chart-bar ml-1"></i>
                                    مشاهده نتایج
                                </a>
                                <button type="button" class="btn btn-info btn-sm mx-1" data-toggle="modal" @click="setCurrentForm(form)" data-target="#form-preview">
                                    <i class="mdi mdi-eye ml-1"></i>
                                    پیش نمایش فرم
                                </button>
                                <a :href="`#/form-manager/${form.id}`" class="btn btn-success btn-sm mx-1">
                                    <i class="mdi mdi-pencil ml-1"></i>
                                    ویرایش
                                </a>
                                <delete-button :list="forms" :index="index" :url="`/api/form/${form.id}`"></delete-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal fade" id="form-preview" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" > پیش نمایش فرم : {{currentForm.name}} </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form-builder :answers="{}" :form="currentForm" :preview="true"></form-builder>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

import FormBuilder from './FormBuilder.vue';
import DeleteButton from '../general/DeleteButton.vue';

export default {
    data(){
        return {
            forms : [{}],
            currentForm : {}
        }
    },
    components : {
        'delete-button' : DeleteButton,
        'form-builder' : FormBuilder
    },
    mounted : function () {
        axios.get('/api/form/index').then(res => {
            this.forms = res.data;
        });
    },
    methods : {
        setCurrentForm : function (form) {
            this.currentForm = form;
        }
    }
}
</script>

<style scoped>
</style>
