<template>
    <div>
        <div class="page-head">
            <h4 class="mt-2 mb-2"> نتیاج فرم : {{form.name}} </h4>
        </div>
        <div v-for="applicant, index in applicants" class="card mb-3">
            <div class="d-flex justify-content-between card-header">
                <p class="m-0 text-info"> <b> <i class="mdi mdi-account ml-1"></i> حساب کاربری : </b> <span> {{applicant.user.name}} </span> </p>
                <p class="m-0 text-info"> <b> <i class="mdi mdi-calendar ml-1"></i> تاریخ تکمیل فرم : </b> <span> {{persianDate(applicant.created_at)}} </span> </p>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-stripped table-hover table-responsive-lg table-sm">
                    <thead>
                        <tr>
                            <th v-for="item in form.items"> {{item.title}} </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td v-for="item in form.items">
                            <a v-if="item.type == 'file'" :href="answers[applicant.id][item.id]" download class="text-primary">
                                <i class="mdi mdi-download"></i>
                                دانلود
                            </a>
                            <a v-else-if="item.type == 'image'" href="javascript:void(0)" data-toggle="modal" data-target="#image-viewer"
                            @click="displayImage(answers[applicant.id][item.id])" class="text-primary">
                                <i class="mdi mdi-eye"></i>
                                مشاهده
                            </a>
                            <span v-else> {{answers[applicant.id][item.id]}} </span>
                        </td>
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-left">
                <a href="#"></a>
                <delete-button :list="applicants" :index="index" :url="`/api/form/answers/${applicant.id}`"></delete-button>
            </div>
        </div>

        <div class="modal fade" id="image-viewer" tabindex="-1">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" > تصویر آپلود شده کاربر </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <img :src="currentSrc" class="img-fluid">
                    </div>
                    <div class="modal-footer">
                        <a :href="currentSrc" class="btn btn-primary mx-1" download> <i class="mdi mdi-download ml-1"></i> دانلود </a>
                        <button type="button" class="btn btn-secondary mx-1" data-dismiss="modal"> <i class="mdi mdi-close ml-1"></i> بستن </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>

import DeleteButton from '../general/DeleteButton.vue';

export default {
    data() {
        return {
            currentSrc : '',
            form : {},
            applicants : [],
            answers : [],
        }
    },
    components : {
        'delete-button' : DeleteButton,
    },
    mounted : function () {
        let formId = this.$route.params.fid;
        axios.get(`api/form/${formId}`).then(res => {
            this.form = res.data;
        })
        axios.get(`api/form/result/${formId}`).then(res => {
            this.applicants = res.data.applicants;
            this.answers = res.data.answers;
        })
    },
    methods : {
        displayImage : function(src) {
            this.currentSrc = src;
        }
    }
}
</script>

<style scoped>
</style>
