<template>
    <div>
        <div class="page-head">
            <h4 class="mt-2 mb-2"> {{form.name}} </h4>
        </div>
        <form-builder :answers="answers" :form="form" :preview="false"></form-builder>

    </div>
</template>

<script>

import FormBuilder from './FormBuilder.vue';

export default {
    data(){
        return {
            form : {},
            answers : {}
        }
    },
    components : {
        'form-builder' : FormBuilder
    },
    mounted : function () {
        let formUid = this.$route.params.uid;
        axios.get(`/api/form/uid/${formUid}`).then(res => {
            this.form = res.data;
            let formId = this.form.id;
            axios.get(`/api/form/answers/${formId}`).then(res => {
                this.answers = res.data;
            });
        });
    }
}
</script>

<style scoped>
</style>
