<template>
    <div class="pb-4">

        <div class="page-head">
            <h4 class="mt-2 mb-2"> طراحی فرم جدید </h4>
        </div>

        <form @submit.prevent="formSubmit" class="card">
            <div class="card-body">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-4">
                        <label for="form-name"> نام فرم </label>
                        <input type="text" class="form-control" id="form-name" v-model="form.name">
                    </div>
                    <div class="col-md-3">
                        <label for="form-name"> چینش آیتم ها </label>
                        <select class="form-control" v-model="form.justify">
                            <option value="start"> راست چین </option>
                            <option value="center"> وسط چین </option>
                            <option value="end"> چپ چین </option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label class="cr-styled">
                            <input type="checkbox" v-model="form.active">
                            <i class="fa"></i>
                            فعال
                        </label>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <h5 class="mb-3"> آیتم های اصلی </h5>
                    <button type="button" class="btn btn-outline-primary m-1 btn-sm" @click="newItem('text')">
                        <i class="mdi mdi-message-text"></i> متن کوتاه
                    </button>
                    <button type="button" class="btn btn-outline-primary m-1 btn-sm" @click="newItem('textarea')">
                        <i class="mdi mdi-clipboard-text ml-1"></i> متن بلند
                    </button>
                    <button type="button" class="btn btn-outline-primary m-1 btn-sm" @click="newItem('number')">
                        <i class="mdi mdi-calculator ml-1"></i> عدد
                    </button>
                    <button type="button" class="btn btn-outline-primary m-1 btn-sm" @click="newItem('date')">
                        <i class="mdi mdi-calendar ml-1"></i> تاریخ
                    </button>
                    <button type="button" class="btn btn-outline-primary m-1 btn-sm" @click="newItem('checkbox')">
                        <i class="mdi mdi-checkbox-marked ml-1"></i> چک باکس
                    </button>
                    <button type="button" class="btn btn-outline-primary m-1 btn-sm" @click="newItem('radio')">
                        <i class="mdi mdi-checkbox-blank-circle ml-1"></i> چندگزینه&zwnj;ای
                    </button>
                    <button type="button" class="btn btn-outline-primary m-1 btn-sm" @click="newItem('select')">
                        <i class="mdi mdi-format-list-bulleted ml-1"></i>  لیست کشویی
                    </button>
                    <button type="button" class="btn btn-outline-primary m-1 btn-sm" @click="newItem('file')">
                        <i class="mdi mdi-file ml-1"></i>  فایل
                    </button>
                    <button type="button" class="btn btn-outline-primary m-1 btn-sm" @click="newItem('image')">
                        <i class="mdi mdi-folder-image ml-1"></i>  تصویر
                    </button>
                </div>
                <hr>
                <div class="text-center">
                    <h5 class="mb-3"> آیتم های خاص </h5>
                    <button type="button" class="btn btn-outline-info m-1 btn-sm" @click="newItem('national_code')">
                        <i class="mdi mdi-account-card-details"></i> کدملی
                    </button>
                    <button type="button" class="btn btn-outline-info m-1 btn-sm" @click="newItem('city')">
                        <i class="mdi mdi-google-maps"></i> شهر و استان
                    </button>
                </div>
                <div v-if="form.items.length">
                    <hr>
                    <draggable :list="form.items" handle=".handle">
                        <div class="draggable-rows" v-for="item, index in form.items">
                            <div class="align-self-center handle"> <i class="mdi mdi-drag-vertical"></i> </div>
                            <div class="align-self-center">
                                <button type="button" class="btn btn-link p-1 btn-sm" @click="removeItem(index)">
                                    <b class="mdi mdi-close text-danger"></b>
                                </button>
                            </div>
                            <div>
                                <small> نوع </small>
                                <select class="form-control form-control-sm" v-model="item.type">
                                    <optgroup label="آیتم های اصلی">
                                        <option value="text"> متن کوتاه </option>
                                        <option value="textarea"> متن بلند </option>
                                        <option value="number"> عدد </option>
                                        <option value="date"> تاریخ </option>
                                        <option value="checkbox"> چک باکس </option>
                                        <option value="radio"> چندگزینه&zwnj;ای </option>
                                        <option value="select"> لیست کشویی </option>
                                        <option value="file"> فایل </option>
                                        <option value="image"> تصویر </option>
                                    </optgroup>
                                    <optgroup label="آیتم های خاص">
                                        <option value="national_code"> کدملی </option>
                                        <option value="city"> شهر و استان </option>
                                    </optgroup>
                                </select>
                            </div>
                            <div>
                                <small> عنوان </small>
                                <input type="text" class="form-control form-control-sm" v-model="item.title">
                            </div>
                            <div>
                                <small v-if="item.type == 'text' || item.type == 'textarea'"> مینیمم کاراکتر </small>
                                <small v-else-if="item.type == 'date'"> از تاریخ </small>
                                <small v-else-if="item.type == 'file' || item.type == 'image'"> حداقل سایز (KB) </small>
                                <small v-else-if="item.type == 'number'"> کوچکترین عدد </small>
                                <input v-if="hasMinMax.includes(item.type)" type="number" class="form-control form-control-sm" v-model="item.min">
                                <date-picker v-else-if="item.type == 'date'" v-model="item.min"></date-picker>
                                <span v-else>-</span>
                            </div>
                            <div>
                                <small v-if="item.type == 'text' || item.type == 'textarea'"> ماکسیمم کاراکتر </small>
                                <small v-else-if="item.type == 'date'"> تا تاریخ </small>
                                <small v-else-if="item.type == 'file' || item.type == 'image'"> حداکثر سایز (KB) </small>
                                <small v-else-if="item.type == 'number'"> بزرگترین عدد </small>
                                <input v-if="hasMinMax.includes(item.type)" type="number" class="form-control form-control-sm" v-model="item.max">
                                <date-picker v-else-if="item.type == 'date'" v-model="item.max"></date-picker>
                                <span v-else>-</span>
                            </div>
                            <div>
                                <label class="cr-styled">
                                    <input type="checkbox" value="1" v-model="item.required">
                                    <i class="fa"></i>
                                    الزامی
                                </label>
                                <label class="cr-styled">
                                    <input type="checkbox" value="1" v-model="item.unique">
                                    <i class="fa"></i>
                                    یونیک
                                </label>
                                <button type="button" data-toggle="modal" :data-target="`#modal-choices-${item.position}`" class="btn btn-sm mr-2"
                                :class="item.type == 'radio' || item.type == 'select' ? 'btn-info' : 'disabled'">
                                    گزینه ها
                                </button>
                            </div>
                            <div>
                                <small> عرض </small>
                                <input type="range" min="1" max="12" step="1" class="slider" v-model="item.width">
                            </div>
                        </div>
                    </draggable>
                    <hr>
                    <div class="text-center">
                        <button type="button" data-target="#connect-to-db" class="btn btn-info btn-sm mx-1" data-toggle="modal" name="button">
                            <i class="mdi mdi-database ml-1"></i>
                            اتصال به دیتابیس
                        </button>
                        <button type="submit" class="btn btn-primary btn-sm mx-1">
                            <i class="mdi mdi-check ml-1"></i>
                            تایید و ذخیره سازی
                        </button>
                    </div>
                </div>
            </div>

            <div id="modals">
                <div v-for="item, index in form.items">
                    <div class="modal fade" v-if="item.type == 'radio' || item.type == 'select'" :id="`modal-choices-${item.position}`" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" > تایین گزینه ها </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <ul class="nav nav-tabs justify-content-around p-0 mb-3" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" :href="`#enter-${item.position}`"> وارد کردن گزینه ها </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" :href="`#extract-${item.position}`"> استخراج از دیتابیس </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" :id="`enter-${item.position}`">
                                            <label for="choices"> گزینه های مورد نظر خود را با Enter از هم جدا کنید </label>
                                            <textarea name="name" rows="8" class="form-control" v-model="item.choices"></textarea>
                                        </div>
                                        <div class="tab-pane fade" :id="`extract-${item.position}`">
                                            <div class="row">
                                                <div class="col-6 my-1">
                                                    <label> نام جدول </label>
                                                    <input type="text" class="form-control" v-model="item.tbl">
                                                </div>
                                                <div class="col-6 my-1">
                                                    <label> نام ستون </label>
                                                    <input type="text" class="form-control" v-model="item.col">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" @click="createOptions(index)">تایید</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade" id="connect-to-db" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" > متصل کردن فرم به دیتابیس </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="text-center mb-3">
                                <button type="button" class="btn btn-sm btn-info" @click="newField"> + فیلد جدید </button>
                            </div>
                            <div>
                                <div class="row justify-content-center" v-for="field, index in form.fields">
                                    <div class="col-5 form-group">
                                        <label> نام فیلد دیتابیس </label>
                                        <input type="text" class="form-control form-control-sm" v-model="field.name" dir="ltr">
                                    </div>
                                    <div class="col-5 form-group">
                                        <label> انتخاب آیتم در این فرم </label>
                                        <select class="form-control form-control-sm" v-model="field.item">
                                            <option :value="item.id" v-for="item in form.items"> {{item.title}} </option>
                                        </select>
                                    </div>
                                    <div class="col-2 text-center align-self-center">
                                        <button type="button" class="btn btn-link text-danger" @click="removeField(index)"> <i class="mdi mdi-delete"></i> </button>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-4">
                                        <label> نام جدول </label>
                                        <input type="text" class="form-control form-control-sm" v-model="form.tbl">
                                    </div>
                                    <div class="col-4">
                                        <label> کلید اصلی </label>
                                        <input type="text" class="form-control form-control-sm" v-model="form.key">
                                    </div>
                                    <div class="col-4">
                                        <label> مقدار کلید </label>
                                        <input type="text" class="form-control form-control-sm" v-model="form.keyval">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">تایید</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>

        <div class="page-head">
            <h4 class="mt-2 mb-2"> خروجی نهایی فرم طراحی شده </h4>
        </div>

        <form-builder :answers="{}" :form="form" :preview="true"></form-builder>

    </div>
</template>

<script>

import FormBuilder from './FormBuilder.vue';
import draggable from 'vuedraggable';

export default {
    data() {
        return {
            hasMinMax : ['text', 'textarea', 'file', 'image', 'number'],
            deleteList : [],
            form : {
                tbl : null,
                key : null,
                keyval : null,
                active : true,
                justify : 'start',
                items : [],
                fields : [{
                    name : null,
                    item : null
                }]
            }
        }
    },
    components : {
        draggable : draggable,
        'form-builder' : FormBuilder
    },
    methods : {
        newItem : function (type) {

            // set position
            let position = this.form.items.length + 1;

            // special width for different fields
            let width = 3;
            if (type == 'textarea') {
                width = 12;
            }
            if (type == 'city') {
                width = 6;
            }

            // special titles for different fields
            let title = null;
            if (type == 'national_code') {
                title = 'کدملی';
            }
            if (type == 'city') {
                title = 'انتخاب استان و شهرستان';
            }

            // push new item in array
            this.form.items.push({position:position, width:width, type:type, title:title});

        },
        removeItem : function (i) {
            let item = this.form.items[i];
            if (item.id) {
                this.deleteList.push(item.id);
            }
            this.form.items.splice(i,1);
        },
        createOptions : function (i) {
            let item = this.form.items[i];
            let options = [];
            if (item.tbl && item.col) {
                axios.get(`api/extract/${item.tbl}/${item.col}`).then(res => {
                    options = res.data;
                    Vue.set(this.form.items[i], 'options', res.data);
                });
            }else {
                Vue.set(this.form.items[i], 'options', item.choices.split('\n'));
            }
        },
        newField : function () {
            this.form.fields.push({
                name : null,
                item : null
            });
        },
        removeField : function (i) {
            this.form.fields.splice(i,1);
        },
        formSubmit : function () {
            let data = {};
            data['form'] = (({ applicants, fields, items, ...o }) => o)(this.form);
            data['items'] = this.form.items;
            data['fields'] = this.form.fields;
            data['delete_list'] = this.deleteList;
            axios.post('/api/form/upsert', data).then( res => {
                if (res.status == 200 && res.data.success) {
                    redirect('form-list');
                    swalSuccess();
                }else {
                    swalError();
                }
            }).catch( err => {
                if (err.response.status == 422) { // validation error
                    swalValidationErrors(err.response.data.errors);
                }
            });
        }
    },
    mounted : function () {
        let formId = this.$route.params.fid;
        if (formId) {
            axios.get(`api/form/${formId}`).then(res => {
                this.form = res.data;
            })
        }
    }
}
</script>

<style scoped>

    small {
        display: block;
        text-align: right;
        margin-bottom: 2px;
    }

    .handle {
        cursor: all-scroll;
    }

    .draggable-rows {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        text-align: center;
        margin: 12px 0;
    }

    .draggable-rows > div {
        padding: 0 8px;
    }

    .draggable-rows > div:nth-child(1), .draggable-rows > div:nth-child(2) {
        width: 3%;
    }

    .draggable-rows > div:nth-child(3) {
        width: 12%;
    }

    .draggable-rows > div:nth-child(4) {
        width: 22.5%;
    }

    .draggable-rows > div:nth-child(5), .draggable-rows > div:nth-child(6) {
        width: 12.5%;
    }

    .draggable-rows > div:nth-child(8) {
        width: 10%;
    }

    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }

    .slider:hover {
        opacity: 1;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        cursor: pointer;
        border-radius: 50%;
        background: #00BCD2;
    }

    .slider::-moz-range-thumb {
        width: 15px;
        height: 15px;
        cursor: pointer;
        border-radius: 50%;
        background: #00BCD2;
    }

</style>
