<template>
    <form class="card" @submit.prevent="formSubmit">
        <div class="card-body">
            <div :class="`row align-items-center justify-content-${form.justify}`">
                <div :class="`form-group col-md-${item.width}`" v-for="item, index in form.items">

                    <!-- checkbox -->
                    <label v-if="item.type == 'checkbox'" class="cr-styled">
                        <input type="checkbox" :id="`item-${item.position}`" value="1" v-model="answers[item.id]">
                        <i class="fa"></i>
                    </label>

                    <!-- general label and required asterisk -->
                    <label v-if="item.title" :for="`item-${item.position}`">
                        <b class="text-danger ml-1" v-if="item.required">*</b> {{item.title}}
                    </label>

                    <!-- text -->
                    <input :id="`item-${item.position}`" v-if="item.type == 'text'" v-model="answers[item.id]" type="text" class="form-control">

                    <!-- number -->
                    <input :id="`item-${item.position}`" v-if="item.type == 'number'" v-model="answers[item.id]" type="number" class="form-control">

                    <!-- textarea -->
                    <textarea :id="`item-${item.position}`" v-if="item.type == 'textarea'" v-model="answers[item.id]" rows="4" class="form-control"></textarea>

                    <!-- date -->
                    <date-picker :id="`item-${item.position}`" v-if="item.type == 'date'" v-model="answers[item.id]"></date-picker>

                    <!-- select -->
                    <select :id="`item-${item.position}`" v-if="item.type == 'select' && item.options" v-model="answers[item.id]" class="form-control">
                        <option v-if="choice" v-for="choice in item.options">{{choice}}</option>
                    </select>

                    <!-- radio -->
                    <div class="mt-2" :class="form.justify == 'center' ? 'text-center' : ''" v-if="item.type == 'radio' && item.options">
                        <div class="form-check-inline" v-if="choice" v-for="choice in item.options">
                            <label class="cr-styled">
                                <input type="radio" :name="`choice-${item.id}`" :value="choice" v-model="answers[item.id]">
                                <i class="fa"></i>
                                {{choice}}
                            </label>
                        </div>
                    </div>

                    <!-- file -->
                    <input :id="`item-${item.position}`" v-if="item.type == 'file' || item.type == 'image'" :ref="`file-${item.id}`" type="file" @change="fileUpload(item)" class="form-control">


                    <!-- national code -->
                    <input :id="`item-${item.position}`" v-if="item.type == 'national_code'" v-model="answers[item.id]" type="text" maxlength="10" class="form-control">

                    <!-- city and states -->
                    <div v-if="item.type == 'city'" class="row">
                        <div class="col-6">
                            <select class="form-control choose-state" v-model="selectedStates[index]">
                                <option value=""> -- انتخاب کنید -- </option>
                                <option :value="s.id" v-for="s in allStates"> {{s.name}} </option>
                            </select>
                        </div>
                        <div class="col-6">
                            <select class="form-control" v-model="answers[item.id]">
                                <option :class="c.state_id != selectedStates[index] ? 'hidden' : ''" :data-state-id="c.state_id" :value="c.id" v-for="c in allCities"> {{c.name}} </option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="text-center" v-if="!preview">
                <hr>
                <button type="submit" class="btn btn-primary"> <i class="mdi mdi-check ml-1"></i> تایید </button>
            </div>

        </div>
    </form>
</template>

<script>
export default {
    props : ['form', 'preview', 'answers'],
    data() {
        return {
            allCities : [],
            allStates : [],
            selectedStates : [],
        }
    },
    methods : {
        formSubmit : function () {
            if (!this.preview) {
                axios.post(`/api/form/uid/${this.form.uid}`, this.answers).then( res => {
                    if (res.data.success) {
                        redirect('home');
                        swalSuccess();
                    }else if(res.data.errors) {
                        swalValidationErrors(res.data.errors);
                    }
                }).catch(function () {
                    swalError();
                });
            }
        },
        fileUpload : function (item) {


            let ref = this.$refs[`file-${item.id}`][0];
            let file = ref.files[0];
            let formData = new FormData();

            formData.append('file', file);
            formData.append('item', item.id);
            formData.append('oldfile', this.answers[item.id]);

            axios.post('/api/form/fill/file/upload', formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(res => {
                this.answers[item.id] = res.data;
            }).catch( err => {
                if (err.response.status == 422) { // validation error
                    swalValidationErrors(err.response.data.errors);
                }else {
                    swalError();
                }
            });
        }
    },
    mounted : function () {
        let formUid = this.$route.params.uid;
        if (formUid) {
            axios.get(`/api/cities/selected/${formUid}`).then(res => {
                this.selectedStates = res.data;
            });
            axios.get('/api/all-states-and-cities').then(res => {
                this.allStates = res.data.states;
                this.allCities = res.data.cities;
            });
        }
    }
}
</script>

<style scoped>

    .hidden {
        display: none;
    }

</style>
